<?xml version="1.0"?>
<configuration>
  <!-- Register a section handler for the log4net section -->
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <file value="log-file.txt"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Start of Log]
"/>
        <footer value="[End of Log]
"/>
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="RevocationFileAppender" type="log4net.Appender.FileAppender">
      <file value="log-revocation.txt"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Start of Log]
"/>
        <footer value="[End of Log]
"/>
        <conversionPattern value="%date %-5level %logger [%property{SerialNumber};%property{RequestID.Old};%property{RequestID.New}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <logger name="GK.CACleaner.Console.repairRevocation">
      <level value="INFO"/>
      <appender-ref ref="RevocationFileAppender"/>
    </logger>
    <logger name="GK.CACleaner.Console.repairIssued">
      <level value="INFO"/>
      <appender-ref ref="RevocationFileAppender"/>
    </logger>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
